
.twitter-timeline{
    margin-left: auto;
}

.content{
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    width: 100%;
}
@media screen and (min-width:680px) {
    .content{
        grid-template-columns: auto 250px;

    }

    .twitter iframe {
        position: sticky !important;
        position: -webkit-sticky !important;
        top: 98px;
    }
}
