body,html{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
}

.navigation-bar {float: left;
}
.navigation-bar { 
    list-style-type: none;
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d0d807;
    font-family: sans-serif;
    width: 100%


}
a { display: inline-block;
    color: black;
    text-align: center;
    padding: 40px 16px;
    text-decoration: none;
}
.active {
    background-color: #3c352b;
    color: white;
}
a:hover {
    background-color: #acb132 ;
}
.navbar-logo {
    width: 100px;
    display: inline-block;
    height:55px;
    border-radius: 0%;
    margin-top: 0px;
}

.navbarlogo img{
    width:100px;
    height: 55px;
}

.foot{
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot img{
    width: 300px;
    margin: 0 auto;
height: 100px;
object-fit: cover;
}

.footer-text {
position: absolute;
margin: 0 auto;
margin-top: 50px;
height: 50px;
font-size: 20px;

}

main{
    min-height: calc(100vh - 100px);
}