@import url('./nav.css');
@import url('./footer.css');

body,html{
    margin: 0;
    padding: 0;
}

body {
    font-family: Tahoma;
}

main{
    min-height: calc(100vh - 100px);
    display: block;
    max-width: 1180px;
    margin: 0 auto;
}

.grid{
    border: 10PX solid #F5C092;
    height: 300px;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
}