@import url('./nav.css');
@import url('./footer.css');

body,html{
    margin: 0;
    padding: 0;
}

body {
    font-family: Tahoma;
}





main{
    min-height: calc(100vh - 100px);
    display: block;
    max-width: 1180px;
    margin: 0 auto;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%; 
}
@media screen and (min-width:680px) {
    .grid{
    grid-template-columns: 1fr 1fr 1fr;

    }
}
.grid iframe{
    aspect-ratio: 6/16;
    width: 100%
}